.header {
    width: 100%;
    margin: 0 auto;
    padding: 28px 0 0 27px;
    font-size: 0;
    height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 45px 0 0 0;
        height: 74px;
    }
}