.popup__wrapper {
    width: 282px;
    height: 322px;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (min-width: 619px) {
    .popup__wrapper {
        width: 430px;
        height: 330px;
    }
}